.container {
  width: 100%;
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
}

.joke__container {
  width: 400px;
  text-align: center;
  border: 1px solid purple;
  padding: 20px 10px;
  border-radius: 0.5rem;
}

.joke__title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.joke__avatar {
  margin-bottom: 10px;
  border: 2px solid rgb(120, 120, 241);
  padding: 0.2rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.joke__text {
  font-size: 19px;
  line-height: 2rem;
  margin-bottom: 10px;
}

.reload {
  border: none;
  outline: none;
  box-shadow: none;
  background: none;
  padding: 8px 20px;
  cursor: pointer;
}

.reload:focus {
  animation: spin 1.5s linear infinite;
}

.loading {
  font-size: 2.3rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
